/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #000000;
  color: #00f7ff;
}

.inner{
  font-family: 'Arial', sans-serif;
  font-style:inherit;
  font-weight: bold;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/images/AV\ Bg.jpg'); /* Set the path to your background image */
  background-size: cover; /* Cover the entire container */
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Move the background behind other content */
}

.containerR {
  position: relative;
  display: flex;
  justify-content: space-between; /* Aligns the two containers at the ends */
  padding: 0 20px; /* Add some padding to the sides */
}

.containerS {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  width: 50%;
  height: 490px;
  gap: 1px;
}

.containerSS {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  width: 50%;
  height: 490px;
  gap: 1px;
}

.containerS img , .containerSS img {
  width: 10%;
  height: 100%; 
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid white;
  transition: all ease-in 0.5s;
  cursor: pointer;
}

.containerS img:hover,.containerSS img:hover {
  width: 100%;
}

/* Header Styles */
header {
  background-color: #4285f4;
  color: #000000;
  padding: 10px 0;
  text-align: center;
}

/* Navigation Styles (if applicable) */
nav {
  margin-top: 20px;
}

nav a {
  color: #e82b2b;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

/* Main Content Styles */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

/* Footer Styles */
footer {
  background-color: #0051ff;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus+label {
  text-decoration: underline;
}

.item>label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.item svg:focus,
.item svg:hover {
  color: red;
  outline: none;
}
.back-btn{
  position:absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);

}

@media only screen and (max-width: 800px) {
  body {
    background-color: rgb(34, 62, 78);
  }
}